$background: #ffffff;
$error: #fa4344;
$success: #00a079;
$outline: #ffbf47;
$heading: #113264;
$text: #495057;
$border: #e5e5e5;

.app {
  background-color: $background;
  padding: 50px 75px;
  text-align: center;

  .app-header {
    margin-bottom: 30px;
    text-align: left;

    h3 {
      color: $heading;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }

    p {
      color: $text;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
    }
  }
}

// Question Container
.question {
  border: 1px solid $border;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 155px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 50%;

  .question-label {
    color: $text;
    display: inline-block;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  &:not(:last-child) {
    border-bottom: 0;
  }
}

// Direction text
.direction-right,
.direction-left {
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  position: relative;
  top: -19px;
}

.direction-left {
  color: $error;
  margin-right: 20px;
}

.direction-right {
  color: $success;
  margin-left: 5px;
}

// Custom Radio
.radio-wrapper {
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;

  label {
    display: block;
    padding: 12px 0 12px 48px;
  }

  input {
    height: 16px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 16px;

    &:checked + label::after {
      opacity: 1;
    }

    &:focus + label::before {
      box-shadow: 0 0 0 3px $outline;
      outline: 3px solid transparent;
    }
  }

  input + label {
    &::before {
      border: 2px solid $heading;
      border-radius: 50%;
      content: '';
      height: 16px;
      left: 6px;
      position: absolute;
      top: 6px;
      width: 16px;
    }

    &::after {
      border: 6px solid $success;
      border-radius: 50%;
      content: '';
      left: 10px;
      opacity: 0;
      position: absolute;
      top: 10px;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
